@page "/EmployeeList"
@inherits EmployeeListBase

<h3 class="text-center my-4">Employee List</h3>

<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #FF9500, #00048B);
        min-height: 100vh;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 1200px; /* Increased container width */
        margin: 0 auto; /* Center the container */
    }
    .imageThumbnail {
        width: 4cm;
        height: 4cm;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .card {
        margin: 15px;
        transition: transform 0.2s, box-shadow 0.2s;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }


    .btn {
        transition: background-color 0.3s, transform 0.2s;
    }

        .btn:hover {
            background-color: #0056b3;
            transform: translateY(-3px);
        }
</style>
<a href="/AddEmployee" class="btn btn-primary m-1">Add New Employee</a>
<div class="container">
    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h5><b><u>@employee.FirstName @employee.LastName</u></b></h5>
                    </div>
                    <div class="card-body">
                        <img class="imageThumbnail" src="@employee.PhotoPath" alt="Employee Photo" />
                    </div>
                    <div class="card-footer">
                        <a href="@($"Employeedetails/{employee.EmployeeId}")" class="btn btn-primary m-1">View</a>
                        <a href="@($"EditEmployee/{employee.EmployeeId}")" class="btn btn-warning m-1">Edit</a>
                        <a href="/EmployeeList" class="btn btn-danger m-1" @onclick="() => DeleteEmployee(employee.EmployeeId)">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
